
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liste des utilisateurs</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="bodyuser">
  <h1>Liste des utilisateurs</h1>
  <ul>
    <% users.forEach(users => { %>
      <li><%= users.email %></li>
    <% }); %>
  </ul>
</body>
</html>
